{erl_opts, [
  warnings_as_errors,
  warn_missing_spec,
  warn_untyped_record
]}.

{deps, [
  {typr, {git, "https://github.com/shizzard/typr.git", {tag, "0.2.2"}}}
]}.

{dialyzer, [
  {warnings, [no_return, no_unused]},
  {get_warnings, true},
  {plt_apps, all_deps},
  {plt_extra_apps, [typr]},
  {plt_location, local},
  {plt_prefix, "plt"},
  {base_plt_apps,  [erts, kernel, stdlib, compiler]},
  {base_plt_location, './.plt' },
  {base_plt_prefix, "plt"}
]}.

{relx, [
  {
    release, {{{name}}, {semver, ""}}, [
      %% dependencies
      sasl, typr,
      %% project applications
      {{name}}
    ]
  },

  {dev_mode, true},
  {include_src, false},
  {include_erts, false},

  {sys_config_src, "./config/sys.config"},
  {vm_args_src, "./config/vm.args"},

  {extended_start_script, true}
]}.

{profiles, [
  {prod, [
    {relx, [{dev_mode, false}]},
    {erl_opts, [no_debug_info]}
  ]},
  {test, [
    {deps, [
      {proper, {git, "https://github.com/proper-testing/proper.git", {tag, "v1.3"}}}
    ]},
    {erl_opts, [debug_info]},
    {overrides, []}
  ]}
]}.
